// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

// Colors
$w: #fff;
$b: #000;
$brand-main: #cd181b;
$brand-light: #f9535d;
$main-color: #414042;
$gray: #bcbec0;
$lighter-color: #f8f8f8;
$light-color: #f0f0f0;

// UNITS

$base_font_size: 16px;
$bp: 850px;
$p: 20px;
$f: 100%;
$speed: .5s;
$spacing: 0em;

// FONTS

$main-font: 'Karla', 'Helvetica Neue', Helvetica, Arial, sans-serif;