%input {
	border: 1px solid $lighter-color;
	@include appearance(none);
	background-color: $w;
	transition: color $speed, background-color $speed;
	width: $f;
	border-radius: 0;
	color: $main-color;
	font-size: em($p);
	@include input-placeholder {
		color: $gray;
		font-family: $main-font;
		font-size: 1em;
	}
	&.wpcf7-not-valid {
		color: $brand-light !important;
		background-color: #f9e7e9  !important;
		@include input-placeholder {
			color: $brand-light !important;
		}
	}
	&:focus {
		font-size: em($p);
		outline: none !important;
		box-shadow: 0 !important;
	}
}

.wpcf7 {
	position: relative;
	&__loader {
		@include full;
		transform: scaleY(0) translate3d(0, 0, 0);
		transition: transform $speed $speed;
		transform-origin: center top;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		align-content: center;
		z-index: 9992;
		background-color: $w;
		[class*="gray"] & {
			background-color: $lighter-color;
		}
		p {
			opacity: 0;
			transition: opacity $speed;
		}
		&--active {
			transform-origin: center bottom;
			transition-delay: 0;
			transform: scaleY(1) translate3d(0, 0, 0);
			p {
				transition-delay: $speed;
			}
		}
	}
	&-form{
		&.invalid {
			.required {
				transition: color $speed;
				color: $brand-light;
			}
		}
	}
	.input{
		&s {
			padding-bottom: em($p);
			&-row {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
				.acceptance {
					font-size: 9px;
					color: $gray;
				}
			}
		}
	}
	input {
		&[type="text"], &[type="email"], &[type="tel"] {
			@extend %input;
			padding: 0 em($p/2, $p);
			height: em(50px, $p);
		}
	}
	textarea {
		@extend %input;
		padding: em($p/2, $p);
		height: em(200px, $p);
	}
	.screen-reader-response, &-response-output {
		display: none !important;
	}
	&-not-valid {
		&-tip {
			display: none;
		}
	}
}