.hcd {
	position: relative;
	&__cell {
		position: relative;
		@include grow('lg');
		&--svg {
			//display: none;
			&:before {
				content: '';
				display: block;
				padding-top: percentage(546px/610px);
			}
			// @include breakpoint($bp) {
			// 	display: inherit;
			// }
		}
		.slick-track {
			overflow: hidden;
			@include breakpoint(1100px) {
				display: flex;
			}
		}
	}
	&__svg {
		position: absolute;
		top: em($p*2);
		left: em($p*2);
		width: calc(#{$f} - #{em($p*4)});
		height: calc(#{$f} - #{em($p*4)});
		overflow: visible !important;
	}
	&__text {
		text-transform: uppercase;
		font-weight: bold;
	}
	&__path {
		stroke-dasharray: 8px 3px;
		transition: stroke-dasharray $speed;
	}
	&__title {
		&--big-upper {
			overflow: hidden;
			line-height: normal;
			strong {
				display: inline-block;
			}
			&:before {
				@include full;
				content: '';
				transition: width $speed;
				transition-delay: $speed;
				[class*="-gray"] & {
					background-color: $lighter-color;
				}
				[class*="-white"] & {
					background-color: $w;
				}
				.slick-current & {
					width: 0;
				}
			}
		}
	}
	&__item {
		float: left;
	}
	&__header {
		padding-bottom: em($p/2);
		@include grow('md', 'top');
	}
	&__content {
		padding-top: em($p/2);
		overflow: hidden;
		position: relative;
		p {
			font-size: em(15px);
			line-height: percentage(30px/$p);
			@include breakpoint($bp) {
				font-size: em($p);
				padding-bottom: em(100px, $p);
			}
		}	
		&:before {
			@include full;
			content: '';
			transition: width $speed;
			[class*="-gray"] & {
				background-color: $lighter-color;
			}
			[class*="-white"] & {
				background-color: $w;
			}
			.slick-current & {
				width: 0;
				transition-delay: $speed*1.8;
			}
		}
	}
	&__group {
		cursor: pointer;
		opacity: .5;
		transition: opacity $speed;
		&--active {
			opacity: 1;
			.hcd__path {
				stroke-dasharray: 8px 0px;
			}
		}
	}
}