.footer {
	background-color: $light-color;
	@include grow();
	a {
		color: $main-color;
		font-weight: bold;
		&:hover {
			color: $brand-main;
		}
	}
	p {
		padding-bottom: em($p, 12px);
		font-size: em(12px);
	}
	&__logo {
		margin-bottom: em($p);
		left: -2px;
		position: relative;
		display: inline-block;
		line-height: 1;
		svg {
			width: em(102px);
			height: em(12px);
		}
		path, rect, polygon {
			fill: $main-color !important;
			transition: fill $speed;
		}
		&:hover {
			path, rect, polygon {
				fill: $brand-main !important;
			}
		}
	}
	.icon-credits {
		font-weight: normal;
	}
	&__content {
		align-items: center;
		justify-content: space-between;
	}
	em {
		font-size: 10px;
	}
}