.page {
	&__header {
		position: relative;
		@include grow();
		@include grow('md', 'top');
		&--full {
			min-height: mh(80px);
			display: flex;
			flex-direction: column;
			.home & {
				@include breakpoint($bp, false) {
					height: 3/4 * 100vw;
					min-height: 0;
				}
			}
		}
		&-figure {
			position: relative;
			margin: 0;
			overflow: hidden;
			height: 0;
			background: {
				position: center;
				size: cover;
				repeat: no-repeat;
			}
			padding-top: percentage(290px/1286px);
			img {
				visibility: hidden;
				@include full;
			}
			&--top {
				margin-bottom: percentage(($p*2)/1286px)*-1;
			}
			&--bottom {
				margin-top: percentage(($p*2)/1286px)*-1;
			}
		}
		&-content {
			@include grow();
		}
	}
	&__title {
		position: relative;
		z-index: 1;
	}
	&__content {
		@include grow();
		p, ol, ul {
			font-size: em(18px);
			padding-bottom: em($p*2, 18px);
		}
		p, li {
			line-height: percentage(32px/18px);
		}
		ul, ol {
			list-style-type: none;
			counter-reset: section;
			margin: 0;
			li {
				display: flex;
				counter-increment: section;
				margin: 0;

			}
		}
		ul {
			li {
				&:before {
					height: 2px;
					width: $p;
					margin-right: $p/2;
					content: '';
					background-color: $brand-light;
					position: relative;
					top: em(14px, 18px);
				}
			}
		}
		ol {
			li {
				&:before {
					content: counter(section) '.';
					margin-right: $p/2;
					color: $brand-light;
					font-weight: bold;
				}
			}
		}
		blockquote {
			margin: 0;
			font-size: em(28px);
			padding-bottom: em($p*2, 28px);
			line-height: percentage(38px/28px);
			font-weight: bold;
			font-style: italic;
			p {
				font-size: 1em;
				line-height: percentage(38px/28px);
				padding-bottom: 0;
			}
		}
	}
}