.page {
	&__header {
		position: relative;
		@include grow();
		&--full {
			min-height: mh(80px);
			display: flex;
			flex-direction: column;
		}
		&-figure {
			position: relative;
			margin: 0;
			overflow: hidden;
			height: 0;
			background: {
				position: center;
				size: cover;
				repeat: no-repeat;
			}
			padding-top: percentage(290px/1286px);
			img {
				visibility: hidden;
				@include full;
			}
			&--top {
				margin-bottom: em($p*-2);
			}
			&--bottom {
				margin-top: em($p*-2);
			}
		}
		&-content {
			@include grow();
		}
	}
	&__title {
		position: relative;
		z-index: 1;
	}
}